*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
app/build/
xray-test/build/
build/
release/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
*.log
.navigation/
captures/
output.json
app/release/
app/debug/
.gradle-home/
.gradle-local/
app/libs/*.jar
